body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5px;
    padding: 0;
    margin: 0;
    background-color: #5a5c5e;
}

.container{
    padding-top: 20px;
    width: 80%;
    margin: auto;
}

.button_1{
    height: 38px;
    background: darkorange;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

header{
    background: #000;
    color: darkorange;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: darkorange 10px solid;
}

header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    font-weight: bold;
}

header .current a{
    color: darkorange;
}

header a:hover{
    color: lightgray;
}

#showcase {
    min-height: 400px;
    background: url('../img/rivalsons.jpg') no-repeat -100px;
    text-align: center;
    color: beige;
    border-bottom: darkorange 10px solid;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase h3{
    font-size: 20px;
}

#newsletter{
    color: beige;
    background: #000;
    padding-bottom: 30px;
    border-bottom: darkorange 10px solid;
    text-align: center;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    color: beige;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 180px;
    height: 150px;
    border: black 1px solid;
}

footer{
    padding: 20px;
    margin-top: 220px;
    color: white;
    background-color: darkorange;
    text-align: center;
}